<a href="https://colab.research.google.com/github/ashish-mishra-9/ROBOISM/blob/main/RoboISM_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Q1
def order(list,choice):
    list2=[]
    if (choice=="none"):
        print(list)
    elif(choice=="asc"):
        list.sort()
        print(list)
    elif(choice=="desc"):
        for i in range(0,len(list),1):
             list.sort()
             list2.append(list[len(list)-1-i])
        print(list2)
list1=[]
x=int(input("Enter the number of elements you want to enter in the list\n"))
for i in range(0,x,1):
    list1.append(int(input("Enter the numbers")))

print(list1)
choice=str(input("Enter the command asc,none or desc which you want to perform on numbers\n"))
order (list1,choice)

Enter the number of elements you want to enter in the list
9
Enter the numbers12
Enter the numbers4
Enter the numbers65
Enter the numbers34
Enter the numbers23
Enter the numbers67
Enter the numbers89
Enter the numbers9
Enter the numbers23
[12, 4, 65, 34, 23, 67, 89, 9, 23]
Enter the command asc,none or desc which you want to perform on numbers
asc
[4, 9, 12, 23, 23, 34, 65, 67, 89]

In [12]:
# Q2
def card_no(x):
    s = ''
    for chr in (x[:-4]):
        s = s + '*'
    s = s + x[-4:]
    return s
a = input("Enter any card number : ")
print(card_no(a))

Enter any card number : 123457653
*****7653

In [13]:
# Q3
def calculator(x,y,z):
    if y == '+':
        return (x+z)
    elif y == '-':
        return(x-z)
    elif y == '*':
        return(x*z)
    elif y == '/':
        return(x/z)
x = int(input("Enter the first number:"))
z = int(input("Enter the second number:"))
y = input("Give the operation to be performed: ")
calculator(x,y,z)

Enter the first number:12
Enter the second number:6
Give the operation to be performed: *

72

In [15]:
# Q4
def double(string):
  for char in string:
    print(char*2,end="")
string =  input("Enter the string")
double(string)

Enter the string1!@45th
11!!@@4455tthh

In [16]:
# Q5
import random
array = []
for i in range(100):
  number = random.randint(1,99)
  array.append(number)
  array.sort()
print(array)
duplicate_elements = []
for i in range(len(array)-1):
  if array[i]==array[i+1]:
   if array[i] not in duplicate_elements:
    duplicate_elements.append(array[i])
print("Duplicate Elements :")
print(duplicate_elements)

[1, 2, 2, 5, 5, 6, 6, 7, 7, 8, 8, 8, 11, 14, 14, 15, 15, 17, 18, 18, 19, 19, 22, 26, 26, 26, 27, 27, 27, 27, 28, 29, 29, 32, 33, 33, 34, 36, 37, 37, 39, 40, 42, 42, 44, 44, 45, 48, 48, 49, 51, 51, 52, 53, 55, 61, 62, 63, 63, 63, 64, 65, 65, 68, 70, 72, 74, 74, 75, 75, 75, 76, 78, 78, 79, 79, 79, 80, 80, 82, 84, 85, 87, 87, 88, 88, 88, 90, 91, 92, 94, 94, 97, 97, 97, 98, 98, 99, 99, 99]
Duplicate Elements :
[2, 5, 6, 7, 8, 14, 15, 18, 19, 26, 27, 29, 33, 37, 42, 44, 48, 51, 63, 65, 74, 75, 78, 79, 80, 87, 88, 94, 97, 98, 99]

In [30]:
# Q6
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0: 
               break  
        else:  
             print (number)

Please, Enter the Lowest Range Value: 12
Please, Enter the Upper Range Value: 19
The Prime Numbers in the range are:
13
17
19

In [32]:
# Q7
# Program to find most frequent
# element in a list
 
def most_frequent(List):
    counter = 0
    num = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
 
    return num
 
List = []
  
# number of elements as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    elements = int(input())
  
    List.append(elements) # adding the element
print("The most frequent element in the given list is:")      
print(most_frequent(List))

Enter number of elements : 9
1
2
3
7
7
5
7
5
6
The most frequent element in the given list is:
7

In [33]:
# Q8 
a = input("Enter any string :")
sum = 0
for i in a:
    if i.isdigit() == True:
        b = int(i)
        sum = sum + b
print(sum)

Enter any string :ash9i7sh
16

In [24]:
# Q9
print("Enter the String: ", end="")
str = input()

str = sorted(str)
str = ''.join(str)

print("\nSorted String is:", str)

Enter the String: Ashish

Sorted String is: Ahhiss

In [25]:
# Q10
x = int(input("Enter x: "))
y = int(input("Enter y: "))
#swap
x ^= y
y ^= x
x ^= y
print("After swap :")
print("x= ",x)
print("y= ",y)

Enter x: 10
Enter y: 9
After swap :
x=  9
y=  10